<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        
        <p>{{screamIT pageTitle}}</p>
        {{> footer}}
    </body>
</html>